html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section 
{
    margin: 0;
    padding: 0;
    border: 0;
}
 
* {
    box-sizing: border-box;
}

body {
    background-image: url("tekapo_small_70_cropped.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -2em;
    /*background-position-y: 5em;*/
    background-attachment: fixed;
}

/*===============================
        TYPOGRAPHY
================================*/
nav ul > li {
    text-transform: uppercase;
}

body {
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

/*Contact Content*/
.email {
    color:#000000;
    font-weight: bold;
}

#nav_photo_link {
    text-align: left;
}

/*===============================
        STYLING
================================*/
.nav_item {
    cursor: pointer;
}

ul {
    list-style-type: lower-greek;
    list-style-position: inside;
}

.nav_item:hover, .photo_link:hover, #nav_photo_link:hover {
    text-decoration: underline;
}

.avatar {
    border-radius: 50%;
    height: 7em;
    max-width: 100%;
}

.avatar_div {
    text-align: center;
}

.span1 {
    font-weight: bold;
    font-style: italic;
}

.span2 {
    font-style: italic;
}

.copyright {
    font-weight: bold;
    font-size: 1.2em;
}

.photo_link, #nav_photo_link {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

#camera {
    max-width: 100%;
    height: 3em;
}

.photo_subdomain {
    display: flex;
    align-items: center;
    justify-content: left ;
}

/*Course Project Content*/
.bookshop_img_dt {
    width: 18em;
    max-height: 100%;
}

.bookshop_img_mob {
    width: 13em;
    max-height: 100%;
}

.book_container {
    text-align: center;
}

.bookshop_img_dt, .bookshop_img_mob {
    cursor: pointer;
}

/*Contact Content*/
#email_icon {
    max-width: 100%;
    height: 5em;
}

#email_icon_wrapper {
    text-align: center;
}

/*===============================
    MARGINS, PADDING, BORDERS
================================*/
.page_content {
    margin: 2em;
    overflow: auto;
    /*max-height: 350px;*/
}

.avatar {
    margin-top: 1em;
    margin-bottom: 1em;
}

nav {
    margin-bottom: 1em;
}

#nav_list {
    margin-bottom: 2em;
}

#nav_photo_link {
    margin-left: 1em;
}

h3, h4 {
    margin-top: 1em;
}

p {
    margin-top: 1em;
}

#course_project_content, #home_projects_content, #about_me_content, #contact_content, #purpose_content {
    margin-bottom: 2em;
}

/*Course Project Content*/
.bookshop_img_dt {
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.bookshop_img_mob {
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.copyright {
    margin-top: 1em;
}

/*==========================
        RESPONSIVE
============================*/
/*--- MEDIUM LAPTOP SCREEN (and small desktop?)- GRID AND FLEX---*/
@media screen and (min-width: 44rem) and (max-width: 89.9rem)  {
    body {
        background-image: url("tekapo_small_70_cropped2.jpg");
        background-size: cover;
        background-position-x: 0;
        background-position-y: 0;
    }

    .page_content {
        display: grid;
        grid-template-columns: 1fr 44rem 1fr;
        column-gap: 1em;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    .avatar_div {
        grid-column: 3;
        grid-row: 1
    }

    nav {
        grid-column: 1;
        grid-row: 2;
    }

    main {
        grid-column: 2;
        grid-row: 2;
    } 

/*===============================
    Styling
================================*/ 
    .avatar {
        border-radius: 50%;
        height: 6em;
        max-width: 100%;
    }

    #camera {
        max-width: 100%;
        height: 3em;
    }

/*===============================
    Typography
================================*/ 
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

/*===============================
    MARGINS, PADDING, BORDERS
================================*/
    body {
        margin: 2em;
        overflow: auto;
    }

    nav {
        margin-top: 3em;
    }

    main {
        margin-left: 3em;
        overflow: auto;
        max-height: 420px;
    }

    .book_container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

/*--- FULL SCREEN (Ultra WIde Desktop?)- GRID AND FLEX---*/
@media screen and (min-width: 90rem) {
    body {
        background-image: url("tekapo_small_70.jpg");
        background-size: cover;
        background-position-x: 0;
        background-position-y: 0;
    }

    .page_content {
        display: grid;
        grid-template-columns: 1fr 72rem 1fr;
        column-gap: 5em;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    .avatar_div {
        grid-column: 3;
        grid-row: 1
    }

    nav {
        grid-column: 1;
        grid-row: 2;
    }

    main {
        grid-column: 2;
        grid-row: 2;
    }

    .book_container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

/*===============================
        TYPOGRAPHY
================================*/
    body {
        text-align: justify;
    }

    nav {
        text-align: left;
    }

    h1 {
        font-size: 2.5em;
    }

/*===============================
        STYLING
================================*/
    .avatar_div, footer {
        text-align: right;
    }

    .bookshop_img_dt {
        width: 25em;
        max-height: 100%;
    }
    
    .bookshop_img_mob {
        width: 18em;
        max-height: 100%;
    }

    #camera {
        max-width: 100%;
        height: 3em;
    }

/*===============================
    MARGINS, PADDING, BORDERS
================================*/
    .page_content {
        margin: 5em;
        /*border: 2px solid #000000;*/
    }

    header {
        padding-left: 3em;
        padding-bottom: 4em;
        padding-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .avatar {
        margin-top: 2em;
        margin-right: 4em;
    }

    nav {
        padding-left: 5em;
        padding-bottom: 4em;
        padding-top: 1em;
        margin-right: 10em;
        margin-left: 2em;
    }

    main {
        margin-right: 2em;
        margin-left: 5em;
        margin-bottom: 2em;
        padding: 1em;
    }

    p {
        margin-top: 1em;
        margin-right: 5em;
    }

    #course_project_content, #home_projects_content, #about_me_content, #contact_content, #purpose_content {
        max-height: 700px;
        overflow: auto
    }
}