@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/*===============================
    RESET AND BASE STYLES
================================*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Apply box-sizing */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*===============================
        TYPOGRAPHY
================================*/
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.navbar-nav {
    gap: 2em;
}

p {
    font-size: 1.25rem;  /* Same as .lead */
    font-weight: 300;
    font-family: var(--bs-font-sans-serif); /* Ensures consistency */
}

/*===============================
    COLORS AND GENERAL STYLING
================================*/
:root {
    --text-color: #383636;
    --heading-color: #000000;
    --primary-bg-color: #197081;
    --secondary-bg-color: #3d8fa0;
    --background-color: rgb(129, 127, 127);
}

body {
    background-color: #e9e9e9;
    color: var(--text-color);
}

header, footer {
    background-color: var(--primary-bg-color);
}

nav {
    background-color: var(--secondary-bg-color);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Changes white arrows to black */
}

.carousel-indicators [data-bs-target] {
    background-color: black !important; 
}

/*===============================
        BUTTON STYLES
================================*/
.btn-dark {
    --bs-btn-bg: #d6d6d6 !important; 
    --bs-btn-border-color: #d6d6d6 !important; 
    --bs-btn-color: black !important; 
}

.btn-dark:hover {
    --bs-btn-bg: #6c757d !important;
    --bs-btn-border-color: #6c757d !important;
    --bs-btn-color: white !important;
}

.nav-link {
    color: rgb(12, 12, 12);
}

.nav-link:hover {
    background-color: #417a86;
}

/*===============================
    IMAGE AND MEDIA ELEMENTS
================================*/
.avatar {
    width: 150px;
    height: auto;
}

#mobile-img {
    height: 40em;
    object-fit: cover;
}

/*===============================
    CAROUSEL STYLING
================================*/
.carousel-item img {
    width: auto; 
    max-width: 80%; /* Adjust width as needed */
    max-height: 200px;
    object-fit: contain;
    display: block; /* Centers the image */
    margin: 0 auto; /* Centers the image horizontally */
}

.carousel-item {
    padding-bottom: 40px;
    text-align: center; /* Centers the content in the carousel */
}

